*{
    padding: 0px;
    margin: 0px;
    
}
body {
    background-color:#E5E5FD;
}
H2 {

    color: #000000;
    ;
    width: 453px;
    height: 47px;
    top: 372px;
    left: 473px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    
}
.year {
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: #000000;
width: 133px;
height: 47px;
top: 425px;
margin-left: 334px;
left: 806px;
gap: 0px;
opacity: 0px;

}